name: Create Docker Container

on: [push]

jobs:
  mlops:
    runs-on: ubuntu-18.04
    defaults:
      run:
        working-directory: ./week_7_ecr
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          role-duration-seconds: 1200
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: mlops
          IMAGE_TAG: ${{ github.sha }}
        run: |
          aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin 636521895949.dkr.ecr.eu-central-1.amazonaws.com
          docker build --build-arg AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }} --build-arg AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }} -t mlops:v4 .
          docker push 636521895949.dkr.ecr.eu-central-1.amazonaws.com/mlops:v4l
